<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>team20</title>
    <meta name="author" content="MONSTER" />
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
        text-indent: 0;
      }

      .s1 {
        color: #76923B;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 49.5pt;
      }

      .s2 {
        color: #F00;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 24.5pt;
      }

      .s3 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 33pt;
      }

      .s4 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 9.5pt;
      }

      .s5 {
        color: #F00;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 11pt;
      }

      .s6 {
        color: #F00;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 9.5pt;
      }

      .s7 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 12pt;
      }

      .s8 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 8pt;
      }

      .s9 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 11pt;
      }

      .s10 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 12pt;
      }

      .s11 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 6pt;
      }

      .s12 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 6pt;
      }

      .s13 {
        color: black;
        font-family: Calibri, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        font-size: 7pt;
      }

      .s15 {
        color: #00F;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: underline;
        font-size: 7pt;
      }

      .s17 {
        color: black;
        font-family: "Times New Roman", serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 7pt;
      }

      table,
      tbody {
        vertical-align: top;
        overflow: visible;
      }
    </style>
  </head>
  <body>
    <table style="margin:0 auto;" cellspacing="0">
      <tr style="height:62pt">
        <td style="width:142pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:2pt;border-right-style:solid;border-right-width:1pt" colspan="2">
          <p class="s1" style="padding-top: 1pt;padding-left: 36pt;text-indent: 0pt;text-align: left;">BA</p>
        </td>
        <td style="width:264pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="3">
          <p class="s2" style="padding-top: 16pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">SHUTTLE PROGRAM</p>
        </td>
        <td style="width:85pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt">
          <p class="s3" style="padding-top: 11pt;padding-left: 17pt;padding-right: 15pt;text-indent: 0pt;text-align: center;">QR</p>
        </td>
      </tr>
      <tr style="height:24pt">
        <td style="width:491pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="6">
          <p class="s4" style="padding-top: 5pt;padding-left: 9pt;text-indent: 0pt;text-align: left;">BA (TEAMS) WA RACE WALKING TEAM CHAMPIONSHIPS - TEAMS SHUTTLE PROGRAM / 20 APRIL 2024 SATURDAY</p>
        </td>
      </tr>
      <tr style="height:25pt">
        <td style="width:232pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3">
          <p class="s5" style="padding-top: 5pt;padding-left: 84pt;padding-right: 82pt;text-indent: 0pt;text-align: center;">DESTINATION</p>
        </td>
        <td style="width:259pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="3">
          <p class="s5" style="padding-top: 5pt;padding-left: 117pt;padding-right: 115pt;text-indent: 0pt;text-align: center;">DATE</p>
        </td>
      </tr>
      <tr style="height:38pt">
        <td style="width:142pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2">
          <p class="s6" style="padding-left: 15pt;padding-right: 30pt;text-indent: 17pt;line-height: 108%;text-align: center;">DEPARTURE FROM TEAM HOTELS</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-left: 4pt;padding-right: 8pt;text-indent: 1pt;line-height: 125%;text-align: center;">ARRIVAL EXPO COMPETITION</p>
          <p class="s4" style="padding-left: 34pt;text-indent: 0pt;line-height: 11pt;text-align: left;">AREA</p>
        </td>
        <td style="width:259pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="3">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
          <p class="s7" style="padding-left: 63pt;text-indent: 0pt;text-align: left;">20 APRIL 2024 SATURDAY</p>
        </td>
      </tr>
      <tr style="height:16pt">
        <td style="width:491pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="6">
          <p class="s4" style="padding-top: 1pt;padding-left: 73pt;padding-right: 72pt;text-indent: 0pt;text-align: center;">(BA) Team Hotels - EXPO Competition Area/ <span style=" color: #F00;">PORTO BELLO AND SEALIFE FAMILY HOTEL</span>
          </p>
        </td>
      </tr>
      <tr style="height:16pt">
        <td style="width:491pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="6">
          <p class="s8" style="padding-left: 73pt;padding-right: 71pt;text-indent: 0pt;text-align: center;">20 April 2024 Saturday</p>
        </td>
      </tr>
      <tr style="height:30pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-top: 2pt;padding-left: 22pt;text-indent: -10pt;line-height: 108%;text-align: left;">Number of Buses</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-top: 2pt;padding-left: 1pt;padding-right: 28pt;text-indent: 0pt;line-height: 108%;text-align: left;">Departure from Hotel</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
          <p class="s4" style="padding-right: 20pt;text-indent: 0pt;text-align: right;">Travel Time</p>
        </td>
        <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-top: 2pt;padding-left: 39pt;padding-right: 12pt;text-indent: -8pt;line-height: 108%;text-align: left;">Arrival at Expo</p>
        </td>
        <td style="width:76pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-top: 2pt;padding-left: 31pt;padding-right: 3pt;text-indent: -14pt;line-height: 108%;text-align: left;">Number of Pax</p>
        </td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt">
          <p class="s4" style="padding-top: 2pt;padding-left: 1pt;padding-right: 26pt;text-indent: 0pt;line-height: 108%;text-align: left;">Capacity of Bus (each)</p>
        </td>
      </tr>
      <tr style="height:30pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-left: 2pt;text-indent: 0pt;text-align: center;">4</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-left: 17pt;text-indent: 0pt;text-align: left;">09:00</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-left: 28pt;text-indent: 0pt;text-align: left;">35 min.</p>
        </td>
        <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-right: 34pt;text-indent: 0pt;text-align: right;">09:35</p>
        </td>
        <td style="width:76pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-left: 30pt;text-indent: 0pt;text-align: left;">150</p>
        </td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt">
          <p class="s9" style="padding-left: 35pt;padding-right: 34pt;text-indent: 0pt;text-align: center;">40</p>
        </td>
      </tr>
      <tr style="height:30pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-left: 2pt;text-indent: 0pt;text-align: center;">4</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-left: 17pt;text-indent: 0pt;text-align: left;">09:30</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-left: 28pt;text-indent: 0pt;text-align: left;">35 min.</p>
        </td>
        <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-right: 34pt;text-indent: 0pt;text-align: right;">10:05</p>
        </td>
        <td style="width:76pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s9" style="padding-left: 30pt;text-indent: 0pt;text-align: left;">150</p>
        </td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt">
          <p class="s9" style="padding-left: 35pt;padding-right: 34pt;text-indent: 0pt;text-align: center;">40</p>
        </td>
      </tr>
      <tr style="height:22pt">
        <td style="width:491pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="6" bgcolor="#A6A6A6">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
        </td>
      </tr>
      <tr style="height:22pt">
        <td style="width:232pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3">
          <p class="s5" style="padding-top: 3pt;padding-left: 84pt;padding-right: 82pt;text-indent: 0pt;text-align: center;">DESTINATION</p>
        </td>
        <td style="width:259pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="3">
          <p class="s5" style="padding-top: 3pt;padding-left: 117pt;padding-right: 115pt;text-indent: 0pt;text-align: center;">DATE</p>
        </td>
      </tr>
      <tr style="height:58pt">
        <td style="width:142pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
          <p class="s6" style="padding-top: 6pt;padding-left: 29pt;padding-right: 23pt;text-indent: 17pt;line-height: 108%;text-align: left;">DEPARTURE FROM TEAM HOTELS</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
          <p class="s4" style="padding-left: 4pt;padding-right: 3pt;text-indent: 23pt;line-height: 108%;text-align: left;">ARRIVAL EXPO COMPETITION</p>
          <p class="s4" style="padding-left: 34pt;text-indent: 0pt;line-height: 12pt;text-align: left;">AREA</p>
        </td>
        <td style="width:259pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="3">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
          <p class="s7" style="padding-top: 7pt;padding-left: 63pt;text-indent: 0pt;text-align: left;">20 APRIL 2024 SATURDAY</p>
        </td>
      </tr>
      <tr style="height:16pt">
        <td style="width:491pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="6">
          <p class="s4" style="padding-top: 1pt;padding-left: 73pt;padding-right: 71pt;text-indent: 0pt;text-align: center;">EXPO Competition Area - Team Hotels / <span style=" color: #F00;">PORTO BELLO AND SEALIFE FAMILY HOTEL</span>
          </p>
        </td>
      </tr>
      <tr style="height:17pt">
        <td style="width:491pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="6">
          <p class="s8" style="padding-left: 73pt;padding-right: 71pt;text-indent: 0pt;text-align: center;">20 April 2024 Saturday</p>
        </td>
      </tr>
      <tr style="height:30pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-left: 22pt;text-indent: -10pt;line-height: 108%;text-align: left;">Number of Buses</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-left: 9pt;padding-right: 6pt;text-indent: 0pt;line-height: 108%;text-align: left;">Departure from Expo</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-right: 20pt;text-indent: 0pt;text-align: right;">Travel Time</p>
        </td>
        <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-left: 38pt;padding-right: 12pt;text-indent: -7pt;line-height: 108%;text-align: left;">Arrival at Hotel</p>
        </td>
        <td style="width:76pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s4" style="padding-left: 31pt;padding-right: 3pt;text-indent: -14pt;line-height: 108%;text-align: left;">Number of Pax</p>
        </td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt">
          <p class="s4" style="padding-left: 9pt;padding-right: 26pt;text-indent: 0pt;line-height: 108%;text-align: left;">Capacity of Bus (each)</p>
        </td>
      </tr>
      <tr style="height:30pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-left: 13pt;text-indent: 0pt;text-align: center;">4</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-right: 21pt;text-indent: 0pt;text-align: right;">11:30</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-left: 26pt;text-indent: 0pt;text-align: left;">35 min.</p>
        </td>
        <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-right: 33pt;text-indent: 0pt;text-align: right;">12:05</p>
        </td>
        <td style="width:76pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-right: 16pt;text-indent: 0pt;text-align: right;">150</p>
        </td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt">
          <p class="s10" style="padding-left: 35pt;padding-right: 34pt;text-indent: 0pt;text-align: center;">40</p>
        </td>
      </tr>
      <tr style="height:30pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-left: 13pt;text-indent: 0pt;text-align: center;">4</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-right: 21pt;text-indent: 0pt;text-align: right;">11:45</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-left: 26pt;text-indent: 0pt;text-align: left;">35 min.</p>
        </td>
        <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-right: 33pt;text-indent: 0pt;text-align: right;">12:20</p>
        </td>
        <td style="width:76pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s10" style="padding-right: 16pt;text-indent: 0pt;text-align: right;">150</p>
        </td>
        <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt">
          <p class="s10" style="padding-left: 35pt;padding-right: 34pt;text-indent: 0pt;text-align: center;">40</p>
        </td>
      </tr>
      <tr style="height:17pt">
        <td style="width:491pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-right-style:solid;border-right-width:2pt" colspan="6">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
        </td>
      </tr>
      <tr style="height:8pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#FFC000">
          <p class="s11" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">EXPO TO HOTELS</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#FFC000">
          <p class="s11" style="padding-right: 23pt;text-indent: 0pt;line-height: 7pt;text-align: right;">MINUTES</p>
        </td>
        <td style="width:349pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="4" rowspan="3">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
        </td>
      </tr>
      <tr style="height:8pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">PORTO BELLA HOTEL</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-right: 23pt;text-indent: 0pt;line-height: 7pt;text-align: right;">35-40min.</p>
        </td>
      </tr>
      <tr style="height:8pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">SEA LIFE FAMILY RESORT</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-right: 23pt;text-indent: 0pt;line-height: 7pt;text-align: right;">30-35min.</p>
        </td>
      </tr>
      <tr style="height:9pt">
        <td style="width:491pt;border-left-style:solid;border-left-width:2pt;border-right-style:solid;border-right-width:2pt" colspan="6">
          <p class="s13" style="padding-left: 15pt;text-indent: 0pt;line-height: 7pt;text-align: left;">WA RACE WALKING TEAM CHAMPIONSHIPS - TEAMS / TECHNICAL TEAM / PARTNERS TRANSFER PLAN</p>
        </td>
      </tr>
      <tr style="height:9pt">
        <td style="width:68pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" rowspan="3">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s11" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Ali KANIK</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s11" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Mustafa ÇAM</p>
        </td>
        <td style="width:259pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:2pt" colspan="3" rowspan="3">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
        </td>
      </tr>
      <tr style="height:9pt">
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Project Manager</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Project Manager</p>
        </td>
      </tr>
      <tr style="height:9pt">
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">90532 377 3768</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">90501 054 1273</p>
        </td>
      </tr>
      <tr style="height:15pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s11" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Merve DOĞAN</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s11" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Eyüp Can KESKİN</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s11" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Cafer KARABEL</p>
        </td>
        <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s11" style="padding-left: 1pt;text-indent: 0pt;text-align: left;">Ali YÜKSEKDAĞ</p>
        </td>
        <td style="width:161pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt" colspan="2" rowspan="3">
          <p class="s15" style="padding-left: 40pt;text-indent: -13pt;line-height: 197%;text-align: left;">transportation@albayraklargrup.com.tr <a href="mailto:info@albayraklargrup.com.tr" style=" color:#00F; font-family: Times New Roman, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt;" target="_blank"></a>
            <a href="mailto:info@albayraklargrup.com.tr" class="s17" target="_blank">info@albayraklargrup.com.tr</a>
          </p>
        </td>
      </tr>
      <tr style="height:8pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Translator</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Transfer Manager</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Airport Manager</p>
        </td>
        <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">Transfer Manager</p>
        </td>
      </tr>
      <tr style="height:8pt">
        <td style="width:68pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">90507 907 40 83</p>
        </td>
        <td style="width:74pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">90542 278 12 78</p>
        </td>
        <td style="width:90pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">90542 391 81 91</p>
        </td>
        <td style="width:98pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:1pt">
          <p class="s12" style="padding-left: 1pt;text-indent: 0pt;line-height: 7pt;text-align: left;">90533 335 3901</p>
        </td>
      </tr>
      <tr style="height:71pt">
        <td style="width:491pt;border-top-style:solid;border-top-width:2pt;border-left-style:solid;border-left-width:2pt;border-bottom-style:solid;border-bottom-width:2pt;border-right-style:solid;border-right-width:2pt" colspan="6">
          <p style="text-indent: 0pt;text-align: left;">
            <br />
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>